*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}


body {
    background-color: #FDF1FF;
}


/* body insights*/
.insightsbd {
  background-color: #eff5fd;
}


/* nav */

nav {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 2px;
    background-color: #ddecfc;
    border-radius: 10px;
  }
  
  .navbt button {
    background-color: #D5E7FB; 
    border: none; /* Remove borders */
    color: brown; 
    padding: 5px 10px; /* Add some padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make sure the button is treated as an inline element */
    font-size: 15px; /* Set font size */
    margin: 1px 1px; /* Add margin between buttons */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 15px; /* Optional: Add rounded corners */
  }
  
  .navbt button:hover {
    background-color: #F9A5B4;
  }
  
  .navimg {
    justify-self: end;
    padding: 2px;
    /* Additional styling for the image container */
  }

/* section check-in */


/* Style for button row */
.greetings {
  text-align: center;
  color: brown;
}

.welcome, .adlogin {
  font-size: xx-large;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1px;
  padding: 1px;
  justify-items: center;
}

.studentbt, .facultybt, .visitorbt {
  align-items: center;
  margin: 15px;
  padding: 8px;
  background-color: #F9A5B4;
  color: brown;
  border-radius: 20px;
  border-style: none;
  font-size: 15px;
}

section button:hover {
  background-color: #bdcad8;
}

.submitbt {
  background-color: #F9A5B4;
  border-radius: 20px;
  padding: 8px;
  margin: 5px;
  margin-left: 42%;
  border-style: none;
  font-size: 15px;
  display: block;
  justify-content: center;
}

.studentform, .facultyform, .visitorform {
  border: 5px white;
  border-style: dotted;
  background-color: #D5E7FB;
  width: fit-content;
  height: fit-content;

  padding: 5px;
  display: block;
  justify-content: center;
  margin-left: 38%;
}


label {
  border-style: none;
  font-weight: 600;
  display: block;
  align-content: left;
  margin-left:10px;
  margin-right: 10px;
}

select, input, option {
  border-style: none;
  background-color: antiquewhite;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left:10px;
  margin-right: 10px;
}


.studentimg:hover {
  transform: scale(1.2); /* Example: scale the image */
}

.facultyimg:hover {
  transform: scale(1.2); /* Example: scale the image */
}

.visitorimg:hover {
  transform: scale(1.2); /* Example: scale the image */
}

/* section checkin end*/

/*section admin log-in */

.loginForm {
  border: 5px white;
  border-style: dotted;
  background-color: #F9A5B4;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: large;
  margin-left: 38%;
}

.loginForm label, input {
  padding: 5px 5px;
  width: 250px;
  margin-left: 10px;
}

.submitbtt, .sumbt {
  background-color: rgb(211, 226, 241);
  border-radius: 20px;
  padding: 8px;
  margin: 10px;
  border-style: none;
  font-size: large;
}

/* section al end*/

/*section summary */

.sumgrid {
background-color:aquamarine;
display: block;
justify-content: center;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7 {
  background-color: powderblue;
  width: 320px;
  height: 180px;
  display: flex;
  float: left;
  padding: 10px 10px;
  margin: 10px 10px ;
}


/* */
/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  text-align: center;
  border: #ddecfc;
  font-size: 10px;
}

/* */
